.container.sixteen.columns
	%img{class: "scale-with-grid mast-pic", src: "/masthead_photo.jpg"}

.container.eight.columns
	%h5.mast-desc Wondering about the back-country ski conditions in the Medicine Bow National Forest? You’ve come to the right place. Before you head out to the Snowies, Chimney Park, or the un-groomed trails at Happy Jack, check to see what other skiers have said about the snow. 
	%h5.mast-desc When you get back, spread the love: Tell us which trail(s) you skied, and whether the powder was good.
	%h3 Ski Areas:
	%ul.area-list
	- @areas.each do |area| 
		%li
			%a{href: "/admin/area/#{ area.id }"}= area.name
			%a{href: "/admin/area/#{ area.id }/edit"} [edit]
.container.eight.columns
	%h3 Recent posts:
	- @recent_notes.each do |note| 
		.post
			%p.post-content
				=h note.content 
				%a{href: "/admin/#{note.id}"} [edit]
				%a{href: "/admin/#{note.id}/delete"} [delete]
			%p.post-date
				Posted 
				- days_ago = (@today - note.created_date).to_i
				- if days_ago == 1
					= days_ago
					day ago 
				- elsif days_ago > 1
					= days_ago
					days ago 
				- elsif (@now - note.created_time.hour).to_i >= 1 
					- hours_ago = (@now - note.created_time.hour).to_i
					= hours_ago
					- if hours_ago <= 1
						hour ago
					- else 
						hours ago
				- else
					- min_ago = (Time.now.min - note.created_time.min).to_i
					= min_ago
					- if min_ago == 1
						minute ago
					- else
						minutes ago
				in 
				- note_area = Area.get(note.area_id)
				%a{href: "/admin/area/#{ note_area.id }"}= note_area.name


%hr
.sixteen.columns.fluid-wrapper
	%script{src: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"}
	#map{style: "width: 100%; height: 400px"}
	%script{:type => "text/javascript"}
		//<![CDATA[
		var map = L.map('map')
		ocmTile = "http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png";
		ocmCopyright = "Map data &copy; 2012 OpenStreetMap contributors";
		ocmLayer = new L.TileLayer(ocmTile, { maxZoom: 18, attribution: ocmCopyright } );
		map.addLayer(ocmLayer);
		map.setView( new L.LatLng(41.2298, -105.85756), 10 );
		- @areas.each do |area|
			- if area.trailheads
				L.marker([#{area.map_center}]).bindPopup("<a href=\'/area/#{area.id}\'>#{area.name}</a>").addTo(map);
		//]]>	