%a{href: "/area/new"} Add new area
- @areas.each do |area| 
	.sixteen.columns
		.fourteen.columns.area_name
			%h3= area.name
			%a{href: "/area/#{ area.id }"} [edit]
		.six.columns.area_desc
			%p= area.description 
		.eight.columns.area_loc
			= area.location 


	.sixteen.columns
		%form{action: "/", method: "post"}
			.one.columns.alpha
				%p
			.twelve.columns
				%input{type: "hidden", name: "area", value: "#{area.id}"}
				%textarea{name: "content", placeholder: "How's the Skiing?", class: "post-box"}
			.two.columns
				%input{type: "submit", value: "Submit", class: "post-button"}

	- area.notes.all(:limit => 4, :order => [:created_time.desc]).each do |note| 
		.fourteen.columns.post
			%p
				=h note.content 
				%a{href: "/#{ note.id }"} [edit]		
			%p.date
				Posted 
				- days_ago = (@today - note.created_date).to_i
				- if days_ago >= 1
					= days_ago
					days ago 
				- elsif (@now - note.created_time.hour).to_i >= 1 
					- hours_ago = (@now - note.created_time.hour).to_i
					= hours_ago
					hours ago
				- else
					= (Time.now.min - note.created_time.min).to_i
					minutes ago
	.sixteen.columns
		%p.sepa 
