.sixteen.columns
	%h3
		.area-name= @area.name
	-if @area.short_name && File.exist?('/#{@area.short_name}.jpg')
		%img{class: "scale-with-grid mast-pic", src: "/#{@area.short_name}.jpg", style: "width: 100%;"}
.six.columns.alpha.area-desc
	%p= @area.description 
.ten.columns.omega.area-map
	%script{src: "/#{@area.short_name}.js", type: "text/javascript"}
	%script{src: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"}
	#map{style: "width: 100%; height: 400px"}
	%script{:type => "text/javascript"}
		//<![CDATA[
		var map = L.map('map')
		ocmTile = "http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png";
		ocmCopyright = "&copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> Contributors & <a href=\"http://thunderforest.com/\">Thunderforest</a>";
		ocmLayer = new L.TileLayer(ocmTile, { maxZoom: 18, attribution: ocmCopyright } );
		map.addLayer(ocmLayer);
		map.setView( new L.LatLng(#{@area.map_center}), #{ @area.map_zoom } );
		-unless @area.trailheads.nil? || @area.trailheads == 0
			- @area.trailheads.split(',').to_a.each_slice(3).each do |t_lat, t_lng, t_name| 
				L.marker([#{t_lat}, #{t_lng}]).bindPopup("#{t_name}").addTo(map);
		-if @area.short_name != ''
			L.geoJson(#{@area.short_name}, {}).addTo(map);
		//]]>
	%a{href: "/area/#{ @area.id }/print", style: "text-align: center"} Printable Map


.sixteen.columns
	%form{action: "/", method: "post"}
		.one.columns.alpha
			%p
		.twelve.columns
			%input{type: "hidden", name: "area_id", value: "#{@area.id}"}
			%textarea{name: "content", placeholder: "How's the Skiing?", class: "post-box"}
		.two.columns
			%input{type: "submit", value: "Submit", class: "post-button"}

- @area.notes.all(:limit => 10, :order => [:created_time.desc]).each do |note| 
	.fourteen.columns.post
		%p
			=h note.content 
		%p.date
			Posted 
			- days_ago = (@today - note.created_date).to_i
			- if days_ago >= 1
				= days_ago
				days ago 
			- elsif (@now - note.created_time.hour).to_i >= 1 
				- hours_ago = (@now - note.created_time.hour).to_i
				= hours_ago
				hours ago
			- else
				= (Time.now.min - note.created_time.min).to_i
				minutes ago