- if @area
	%form{ action: "/admin/area/#{ @area.id }", method: "post", id: "add"}
		%input{type: "hidden", name: "_method", value: "put"}
		%p Area name: 
		%input.text{name: "name", value: "#{h @area.name}"}
		%p
		%p Short area name: (used in image and trails paths, cannot contain spaces)
		%input.text{name: "short_name", value: "#{@area.short_name}"}
		%p
		%p Map center: (lat/lng)
		%input.text{name: "map_center",  value: "#{ @area.map_center}"}
		%p
		%p Trailheads: (lat, lng, description, lat, lng, description, etc)
		%input.text{name: "trailheads",  value: "#{ @area.trailheads}"}
		%p
		%p Map zoom level: (default 13)
		%input.text{name: "map_zoom",  value: "#{ @area.map_zoom }"}
		%p
		%p Description:
		%textarea{name: "description", class: "post-box", height: "60px"}= @area.description
		%input(type="submit")
		- if @area.id
			%a.button{href: "/admin/area/#{ @area.id }/delete"} Delete
- else 
	%p Area not found.
