- if @area
	%form{ action: "/area/#{ @area.id }", method: "post", id: "add"}
		%input{type: "hidden", name: "_method", value: "put"}
		%p Area name: 
		%input.text{name: "name", value: "#{h @area.name}"}
		%p Location: 
		%input.text{name: "location",  value: "#{ @area.location}"}
		%p Description:
		%textarea{name: "description", class: "post-box", height: "60px"}= @area.description
		%input(type="submit")
		- if @area.id
			%a.button{href: "/area/#{ @area.id }/delete"} Delete
- else 
	%p Area not found.
