.container.sixteen.columns
	%img{class: "scale-with-grid mast-pic", src: "/masthead_photo.jpg"}

.container.eight.columns
	%h5.mast-desc Wondering about the back-country ski conditions in the Medicine Bow National Forest? You’ve come to the right place. Before you head out to the Snowies, Chimney Park, or the un-groomed trails at Happy Jack, check to see what other skiers have said about the snow. 
	%h5.mast-desc When you get back, spread the love: Tell us which trail(s) you skied, and whether the powder was good.
	%h3 Ski Areas:
	%ul.area-list
	- @areas.each do |area| 
		%li
			%a{href: "/area/#{ area.id }"}= area.name
.container.eight.columns
	%h3 Recent posts:
	- @recent_notes.each do |note| 
		.post
			%p.post-content=h note.content 
			%p.post-date
				Posted 
				- days_ago = (@today - note.created_date).to_i
				- if days_ago == 1
					= days_ago
					day ago 
				- elsif days_ago > 1
					= days_ago
					days ago 
				- elsif (@now - note.created_time.hour.+(1)).to_i >= 1 
					- hours_ago = (@now - note.created_time.hour.+(1)).to_i
					= hours_ago
					- if hours_ago <= 1
						hour ago
					- else 
						hours ago
				- else
					= (Time.now.min - note.created_time.min).+(60).to_i
					minutes ago
				in 
				- note_area = Area.get(note.area_id)
				%a{href: "/area/#{ note_area.id }", style: "font-style: normal"}= note_area.name

%hr
.sixteen.columns.fluid-wrapper
	%script{src: "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"}
	#map{style: "width: 100%; height: 400px"}
	%script{:type => "text/javascript"}
		//<![CDATA[
		var map = L.map('map')
		ocmTile = "http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png";
		ocmCopyright = "&copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> Contributors & <a href=\"http://thunderforest.com/\">Thunderforest</a>";
		ocmLayer = new L.TileLayer(ocmTile, { maxZoom: 18, attribution: ocmCopyright } );
		map.addLayer(ocmLayer);
		map.setView( new L.LatLng(41.2298, -105.85756), 10 );
		- @areas.each do |area|
			- if area.map_center
				L.marker([#{area.map_center}]).bindPopup("<a href=\'/area/#{area.id}\'>#{area.name}</a>").addTo(map);
		//]]>	
		%p.date
			Posted 
			- days_ago = (@today - note.created_date).to_i
			- if days_ago == 1
				= days_ago
				day ago 
			- elsif days_ago > 1
				= days_ago
				days ago 
			- elsif (@now - note.created_time.hour.+(1)).to_i >= 1 
				- hours_ago = (@now - note.created_time.hour.+(1)).to_i
				= hours_ago
				- if hours_ago <= 1
					hour ago
				- else 
					hours ago
			- else
				= (Time.now.min - note.created_time.min).+(60).to_i
				minutes ago