.container.sixteen.columns
	%img{class: "scale-with-grid mast-pic", src: "/masthead_photo.jpg"}

.container.eight.columns
	%h5.mast-desc Wondering about the back-country ski conditions in the Medicine Bow National Forest? You’ve come to the right place. Before you head out to the Snowies, Chimney Park, or the un-groomed trails at Happy Jack, check to see what other skiers have said about the snow. 
	%h5.mast-desc When you get back, spread the love: Tell us which trail(s) you skied, and whether the powder was good.
.container.eight.columns
	%h3 Recent posts:
	- @recent_notes.each do |note| 
		.post
			%p.post-content=h note.content 
			%p.post-date
				Posted 
				- days_ago = (@today - note.created_date).to_i
				- if days_ago >= 1
					= days_ago
					days ago 
				- elsif (@now - note.created_time.hour).to_i >= 1 
					- hours_ago = (@now - note.created_time.hour).to_i
					= hours_ago
					hours ago
				- else
					= (Time.now.min - note.created_time.min).to_i
					minutes ago
				in 
				- note_area = Area.get(note.area_id)
				%a{href: "/area/#{ note_area.id }", style: "font-style: normal"}= note_area.name

%hr
.sixteen.columns
	.six.columns.alpha
		%h3 Ski Areas:
		%ul.area-list
		- @areas.each do |area| 
			%li
				%a{href: "/area/#{ area.id }"}= area.name
	.ten.columns.omega.fluid-wrapper
		%iframe{src: "https://mapsengine.google.com/map/u/0/embed?mid=zJYYv8J60wXY.kMLteRlfM__Y",  width: "640", height: "480"}
